<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="WIA"
        android:roundIcon="@mipmap/app_logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyGoalPost.UpdateGoal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Club.UpdateClubPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActivitySearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActivityFrame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".market.MarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomNavigation.MakeTotalBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserPostList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.MakeDiet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Diet.Diet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdatePost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostMore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NewPostPublic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostListFrame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomNavigation.MakeBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeletePostAsk"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".Club.ClubPostItemMore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Club.NewClubPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Club.UpdateClubPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Club.AddAnswer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".Club.QuestionPopUp"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />
        <activity
            android:name=".Club.ClubPageMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Club.NewClubPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Club.ClubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyGoalPost.NewPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyGoalPost.MyGoalPostIngMore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyGoalPost.MyGoalSearch"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".MyGoalPost.MyGoalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeAccount"
            android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>